# Token obtenido de BotFather en Telegram
TELEGRAM_BOT_TOKEN=t8948534591:AAEDQFTkiMvIt0Sozt4Qgty6hyKCgJgXQGU

# Credenciales del proyecto de Supabase
SUPABASE_URL=https://nqwimdlgddszuqubdddp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xd2ltZGxnZGRzenVxdWJkZGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MDE1MTYsImV4cCI6MjA5Nzk3NzUxNn0.py0opPk4tK4DK5UsZ1wMuss49ANbmeCRpDn_TGru62g

# IDs de Telegram autorizados a registrar gastos (separados por comas)
# Si no conoces tu ID, el bot te lo imprimirá en consola al enviarle un mensaje.
TELEGRAM_ALLOWED_USERS=5904099099

# Mapeo de IDs de Telegram a responsables ('Lima' o 'Piura')
# Esto permite saber quién sube el gasto sin tener que escribirlo.
TELEGRAM_USER_LIMA=5904099099
TELEGRAM_USER_PIURA=
